* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #e6f0f8;
}
.continer {
  position: relative;

  width: 1110px;
  margin: 0 auto;
}
button:hover {
  cursor: pointer;
  background-color: #98316be1;
  transition: 0, 5s;
}
input:hover {
  cursor: pointer;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #36536b;
  font-family: sans-serif;
}
.bg-img {
  position: absolute;
  right: 0;
  top: -172px;

  width: 480px;
  height: 480px;
}
/* header */
.header {
  height: 737px;
}
.navbar {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.nav-logo {
  display: flex;
  gap: 64px;
}
.nav-title-1 {
  display: flex;
  gap: 40px;

  padding-top: 10px;
}
.nav-items:hover {
  color: #000;
}
.nav-btn-1 {
  width: 173px;
  height: 43px;

  border-radius: 30px;
  border: 0;
  box-shadow: 10px 10px 25px -10px #36536b40;
  background-color: #ba4270;

  color: #fbfcfe;
}
.nav-btn-1:hover {
  cursor: pointer;
  background-color: #ba4270a9;
}
.header-main {
  display: flex;
  gap: 240px;
  justify-content: space-around;
}
h1 {
  font-size: 50px;
  color: #36536b;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-bottom: 21px;
}
.header-content {
  width: 546px;
  height: 345px;

  margin-top: 152px;
  margin-left: 20px;
}
.header-content input {
  position: absolute;

  padding: 12px 20px;

  background-color: white;
  border: none;
  border-radius: 20px;

  width: 405px;
}

.header-content button {
  position: relative;
  left: 300px;

  margin-bottom: 16px;
}
.header-content p {
  color: #6c8294;
}
.header-ims {
  width: 363px;
  height: 500px;
}
/* section */
.section {
  position: relative;

  background-color: #1b262f;
  width: 1500px;
  height: 472px;

  margin: 0 auto;
  color: #fbfcfe;
}
.section-imsss {
  position: absolute;
  width: 580px;
  height: 450px;
}
.section-1 {
  display: flex;
  justify-content: space-around;
  align-items: center;

  gap: 131px;

  padding-top: 140px;
}
.section-title {
  width: 445px;

  display: flex;
  flex-direction: column;
  gap: 30px;
}
.section-title button {
  width: 129px;
  height: 48px;

  background-color: #1b262f;
  color: white;

  border: 2px solid white;
  border-radius: 30px;

  cursor: pointer;
}
.section-title button:hover {
  color: #000;
  background-color: white;

  border: rgb(95, 95, 90);
  border-radius: 40px;

  transition: 0.7s;
}
.section-title h3 {
  font-size: 48px;
}
.section-title p {
  color: rgba(255, 255, 255, 0.764);
}
.section-logo {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 536px;

  color: #ffffff;
}
.section-logo img {
  margin: 5px 15px;
}
.section-logo-2 img {
  margin-left: 29px;
}
/* easy to */
.easy-to {
  position: relative;

  display: flex;
  justify-content: space-between;

  margin-top: 20px;
  width: 1015px;
  height: 284px;
}
.easy-to-cod {
  position: relative;
  width: 445px;
  height: 284px;

  margin-top: 130px;

  background-color: rgba(27, 38, 47, 1);
  color: rgba(251, 252, 254, 1);
}
.easy-cod {
  position: absolute;
  border-radius: 8px, 8px, 0px, 0px;
}
.easy-to-title {
  width: 445px;
  height: 164px;

  color: rgba(54, 83, 107, 1);

  margin-top: 210px;
}

.easy-to-title h3 {
  font-size: 49px;

  margin-bottom: 24px;
}
pre {
  margin-top: 73px;
}
.imgssss {
  position: absolute;
  width: 350px;
  top: 1700px;
  right: 0;
}
/* semple */
.semple-main {
  position: relative;
}
.semple {
  margin-top: 300px;

  display: flex;
  justify-content: space-around;

  width: 1200px;
}
.semple-title {
  width: 445px;
  height: 136px;

  color: rgba(54, 83, 107, 1);

  padding-top: 170px;
}
.sepmle-card {
  display: flex;
  gap: 40px;

  color: rgba(108, 130, 148, 1);
}
.sepmle-card img {
  width: 300px;
  height: 500px;
}
.semple-title h3 {
  margin-top: 10px;
  margin-bottom: 40px;

  font-size: 49px;
}
/* card */
.cards {
  width: 1440px;
  height: 472px;
}
.card-icon {
  display: flex;
  justify-content: space-around;

  margin-top: 40px;
}
.icos1 {
  background-color: rgb(6, 6, 94);

  padding: 20px;
  border-radius: 50%;
}
.icon2 {
  background-color: #1b1a56;

  padding: 20px;

  border-radius: 50%;
}
.icon3 {
  background-color: #1b1a56;

  padding: 20px;

  border-radius: 50%;
}
.card-title {
  display: flex;
  justify-content: space-around;

  margin-top: 32px;
}
.iconss {
  width: 350px;

  text-align: center;

  padding: 20px;
}
.iconss h5 {
  margin-bottom: 20px;
}
/* main */
.main {
  display: flex;
  justify-content: space-between;
}
.main-title {
  font-size: 30px;
  text-align: center;
}
.main-input input {
  position: relative;
  width: 445px;
  height: 48px;

  padding-left: 20px;

  border-radius: 30px;
  border: none;
}
.main-input button {
  position: absolute;
  right: -10px;

  width: 173px;
  height: 48px;

  background-color: #ba4270;
  color: white;

  border-radius: 30px;
  border: none;
}
.main-input button:hover {
  color: rgb(255, 255, 255);
  background-color: #541135;
}
/* footer */

.footer {
  position: relative;

  width: 1500px;
  height: 100px;

  background-color: rgba(27, 38, 47, 1);

  margin-top: 30px;
}
.footer-bg {
  position: absolute;
  right: 0;
}
.footer-main {
  display: flex;
  justify-content: space-between;

  padding-top: 9px;

  color: white;
}
.footer-logo {
  display: flex;
  gap: 60px;
  justify-content: center;
  align-items: center;

  margin-top: 17px;
}
.footer-logo ul {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  font-size: 29px;

  margin-top: 17px;
}
.fa-brands:hover {
  color: #ab236c;
}
.fa-solid:hover {
  color: #ab236c;
}
/* contact */
.contact--main {
  display: flex;
  gap: 12px;
}
.contact-title {
  width: 720px;
  height: 133px;

  top: 63px;
  left: -175px;
  margin-bottom: 59px;
}
.contact-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 445px;
}
.inputs {
  width: 445px;
  height: 42px;

  border: none;
  border-bottom: #000;

  padding: 10px 30px;
}
.checboxx {
  width: 445px;
  height: 45px;

  display: flex;
}
.checboxx label {
  margin-left: 19px;

  font-size: large;

  color: #000000a3;

  width: 380px;
}
.contact--main-logo1 {
  display: flex;
  gap: 20px;

  width: 445px;
}
.contact--main-button
{
  width: 95px ;
  height: 40px;

}
